analyzed_attachments/
attachments/
cleaned_attachments/
emails/
graphs/
images/
monthly_bodies/
old_attachments/
parsed_emails/
periodicals/
wordclouds/

attachment_type_freqs.json
credentials.json
emails.csv
emails_equivalent.csv
email_classification.csv
indexes.html
indexes.txt
process-2.py
process.py
sigcseArchive.py
predicting_posts.csv
predicting_posts_qual.csv
threads.json
wpd_plot_data.json