email_data.sqlite

backups/
data/all_emails.zip
data/cleaned_attachments_v1/
data/sigcse-emails-v1.db
data/sigcse-emails.db
data/top_posters.csv
data/analyzed_attachments/
data/attachments/
data/cleaned_attachments/
data/emails/
data/monthly_bodies/
data/monthly_subjects/
data/old_attachments/
data/parsed_emails/
data/periodicals/
results/
!results/long_thread_analysis.html
!results/LongThreadAnalysis.xlsx
results/images/
results/images/wordclouds/

data/attachment_type_freqs.json
data/emails.csv
data/emails_equivalent.csv
data/email_classification.csv
data/predicting_posts.csv
data/predicting_posts_qual.csv
data/threads.json
data/wpd_plot_data.json
data/indexes.txt
data/indexes.html

config/credentials.json
config/listserv.json


__pycache__

.ipynb_checkpoints/

*.pyc